<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<title> {{ .Site.Title }} </title>

		{{ partial "head.html" . }}

	</head>
	<body>
		{{ partial "header.html" . }}
		<div class="container wrapper ">
				<div class="row">
						<div class="col-xs-12 user-profile text-center">
							<h1 id="user-name">{{ .Site.Params.Name }}</h1>
						</div>
					</div>
			{{ with .Site.Params.ProfilePicture }}
			<div class="row">
				<div class="col-md-2 profile-image mr-auto">
					<img alt="profile-picture" class="img-responsive img-circle user-picture center-block" src="{{.}}">
					<div class="lead font-italic">
					<p class="welcome-font">
							Thanks for stopping by! I'd love to chat with you about about process and project management optimization, site building and development, and how we can make the world a better place through Open Source!  
-- Dwayne
					</p>
				</div>
				</div>
		
			
			 <div class="pdc-brand col-md-2">
			  <ul style="list-style: none;">
				<li class="b1"><a href="https://processdigitalconsulting.com/"><h2>Process Digital Consulting </h2><img alt="Process Digital Consulting Logo" class="pdc-logo img-responsive" src="/images/pdc-logo.svg"> </a> </li>
				<li class="b1">
						<a href="https://mcdwayne.com"><h2>mcdwayne.com - WordCamp and DrupalCamp blog and sessions</h2><img alt="Mcdayne.com logo" class="pdc-logo img-responsive" src="/images/dwaynemic.jpeg"></a>
				</li>
			  </ul>
			 </div>
 	        

			{{ end }}


			<div class="row">
				<div class="align-self-center user-description text-center">
					<div class="text-center">
					 <p class="text-center" > {{ .Site.Params.About1 }}</p>
				    </div>
					<div class="text-center">
					 <p class="text-center" >{{ .Site.Params.About2 }}</p>
				    </div>
				    
					 <a href="/posts"><p class="text-center" >{{ .Site.Params.About3 }}</p></a>
					
				</div>
			</div>
			<div class="row">
					<div class="col-xs-12 user-social text-center">
					{{ partial "social.html" . }}
					</div>
				</div>
			<div class="push"></div>
		</div>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
